
.container {
	.width {
		width:1rem !important;
		margin-right:10px;
		background-color:green;
		display: inline-block;
		vertical-align: bottom;
		border: 1px solid black;
		-webkit-transition: height 1s; /* Safari */
		transition: height 1s;
		transition-delay: 500ms;
		transition-timing-function: ease-in-out;
	}

	.height {
		height:1rem !important;
		margin-bottom:10px;
		background-color:green;
		border: 1px solid black;
		-webkit-transition: width 1s; /* Safari */
		transition: width 1s;
		transition-timing-function: ease-in-out;
		transition-delay: 500ms;
	}

	.main {
		margin-bottom: 50px;
		border: 1px solid;
		padding: 10px;
		display: inline-block;
		
		li {
		  list-style:none;
		}
	}
}
